
.slick-prev:before, .slick-next:before {
    color: black;
}
.slick-slider {
	/* width: 80%; */
	/* margin: 0; */
}
.slick-next {
    /* right: -80px; */
}

.slick-prev {
    /* left: 350px; */
}
.experience-timeline .slick-prev, .experience-timeline .slick-next {
    /* position: initial!important;
    top: initial!important;
    transform: initial!important; */
}

.slick-slider {
    /* display: grid;
    grid-template-columns: minmax(0,600px)  30px 30px;
    height: initial!important; */
}
.slick-prev {
    grid-column: 2 /3;
}
.slick-next {
    grid-column: 3 /4;
}
.slick-list {
    grid-column: 1 / 2;
}
